:root {
    --letterkleur: #2A4040;
}

body {
    margin: 0;
    font-weight: 300;
    font-family: museo-sans, sans-serif;
    background-color: white;
    font-size: 1em;
}

h1 {
    display: block;
}

nav ul {
    list-style: none;
    padding: 1em;
    display: flex;
    margin: 0;
    padding-bottom: 0;
    justify-content: space-between;
    --letterkleur: #2A4040;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 75vw;
    margin: 0 auto;
}

section header h2{
    background-color: #991782;
    padding: 1.3em;
    color: white;
    font-weight: 100;
    font-size: 1.4em;
    margin: 0em;
    width: 75vw;
    text-transform: uppercase;
}

section header a img{
    width: 2em;
    margin-top: -3.4em;
    margin-left: 75vw;
    border-style: none;
    position: absolute;
}

section > a {
    text-transform: uppercase;
    align-content: center;
    background-color: #FFDF5D;
    border-style: solid;
    border-color: #B5993B;
    text-align: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: #991782;
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 2em;
}

section > a:hover {
    background-color: #991782;
    border-color: #701159;
    color: #FFDF5D;
    font-size: 1.1em;
    font-weight: 700;
    transition: 0.2s;
}

section > a:active {
    background-color: #991782;
    border-color: #701159;
    color: #FFDF5D;
    font-size: 1.2em;
    font-weight: 700;
    transition: 0.2s;
}

form {
    display: block;
    border-style: none;
    padding-left: 1.8em;
    --letterkleur: #2A4040;
    margin-top: 2em;
    color: #2A4040;
    align-content: center;
    margin-bottom: 2em;
}

label {
    --letterkleur: #2A4040;
    padding-right: 2em;
    text-align: center;
    color: #9C2788;
    border-style: solid;
    list-style: none;
    border-color: #9C2788;
}

input:checked + label {
    background-color: #9C2788;
    color: white;
}

fieldset {
    border: none;
}

input {
    visibility: hidden;
    width: 0;
    position: absolute;
    overflow: hidden;

}

article {
    border-style: solid;
    border-color: #FFDF5D;
    position: relative;
    margin: 2em;
    background-color: #FFDF5D;
    align-content: center;
    width: 80vw;
}

article ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: 1em;
    margin-bottom: 4em;
    position: absolute;
}

article ul li{
    background-color: #991782;
    margin-top: -3.0em;
    margin-bottom: 2.5em;
    padding-left: 0.1em;
    padding-right: 0.1em;
}

article ul li img {
    margin: 0em;
    width: 1.5em;
    align-content: center;
}

article p {
    color: var(--letterkleur);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
}

article footer p {
    font-size: 0.7em;
    margin-left: 70%;
    position: absolute;
    color: #2A4040;
    margin-top: -4.5em

}

article footer span {
    padding: 0em;
    position: absolute;
    margin: 0em;
    display: flex;
    margin-left: 11.5em;
    margin-top: -3em;
}

span button {
    padding: 0;
    border-color: #FFDF5D;
    width: 4em;
    height: 4em;
    margin-right: 0;
    margin-left: 1em;
    background-image: url(fav.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-position: center;
}

footer ul {
    list-style: none;
    padding: 1em;
    display: flex;
    margin: 0;
    padding-bottom: 0;
    justify-content: space-between;
    color: #991782;
}

/*ID's*/


#verhaalfoto {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    object-position: center;
}

#kleinetekst {
    margin-bottom: 2em;
    margin-top: 0em;
    text-align: center;
    --letterkleur: #2A4040;
}

#voeter {
    margin-top: 9em;
    margin-bottom: 3em;
    text-align: center;
    --letterkleur: #2A4040;
}

#welkom p {
    color: var(--letterkleur);
    padding-top: 1em;
    padding-bottom: 0em;
    align-content: center;
}

#download {
    background-image: url(fav.png);
}

#fav {
    background-image: url(fav.png);
}

nav ul li a svg {
    width: 3em;
}

a svg .cls-1 {
    transition: 0.2s;
}

a:hover svg .cls-1 {
    background-color: #982582;
    fill: #991782;
    stroke: #701159;
    transition: 0.2s;
}

a:hover svg .cls-2{
    fill: #FFDF5D;
    stroke: #FFDF5D;
    transition: 0.2s;
}

a:active svg .cls-1 {
    background-color: #982582;
    fill: #991782;
    stroke: #701159;
    transform: translateY(30rem);
}

a:active svg .cls-2{
    fill: #FFDF5D;
    stroke: #FFDF5D;
    transition: 0.2s;
}


NOTES
- form fixen
- pijlknop fixen
- fav en download button fixen
- alles uitlijnen op de H2's'
- alles svg maken
- code op de goede plekken zetten
- kleur code geel veranderen


