:root {
    --letterkleur: #2A4040;
}

body {
    margin: 0;
    font-weight: 300;
    font-family: museo-sans, sans-serif;
    background-color: white;
    font-size: 1em;
}

body > header{
    background-color: white;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1;
    border-bottom: solid;
    border-bottom-color: #707070;
}

h1 {
    display: block;
    margin-top: 0.2em;
}

nav ul {
    list-style: none;
    padding: 1em;
    display: flex;
    margin: 0;
    padding-bottom: 0;
    justify-content: space-between;
    --letterkleur: #2A4040;
}

nav ul li a svg {
    width: 3em;
}

a svg .cls-1 {
    transition: 0.2s;
}

a svg .cls-2{
    transition: 0.2s;
}

a:hover svg .cls-1 {
    background-color: #982582;
    fill: #991782;
    stroke: #701159;
}

a:hover svg .cls-2{
    fill: #FFDF5D;
    stroke: #FFDF5D;
}

a:active svg .cls-1 {
    background-color: #982582;
    fill: #991782;
    stroke: #701159;
    transform: translateY(30rem);
}

a:active svg .cls-2{
    fill: #FFDF5D;
    stroke: #FFDF5D;
}

body section:first-of-type {
    margin-top: 7em;
}

body section:first-of-type p:first-of-type {
    color: var(--letterkleur);
    padding-top: 0em;
    padding-bottom: 1em;
    width: 80vw;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 85vw;
    margin: 0 auto;
}

section header h2{
    background-color: #991782;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 0.9em;
    color: white;
    font-weight: 100;
    font-size: 1.15em;
    margin: 0em;
    width: 85vw;
    text-transform: uppercase;
}

section header a img{
    width: 1.5em;
    margin-top: -2em;
    margin-left: 78vw;
    border-style: none;
    position: absolute;
}

section #kleinetekst {
    margin: 0em;
    text-align: center;
    --letterkleur: #2A4040;
    font-weight: 700;
}

section > a {
    text-transform: uppercase;
    align-content: center;
    background-color: #FFDF5D;
    border-style: solid;
    border-color: #B5993B;
    text-align: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: #991782;
    font-size: 1.1em;
    font-weight: 700;
    margin-top: 1.25em;
    transition: 0.2s;
}

a#link {
    border: none;
    background: none;
    text-transform: none;
    text-decoration: underline;
    font-weight: 100;
    padding: 0em;
    margin-bottom: 1.25em;
    margin-top: 0.5em;
}

section > a:hover {
    background-color: #991782;
    border-color: #701159;
    color: #FFDF5D;
    font-size: 1.1em;
    font-weight: 700;
}

section > a:active {
    background-color: #991782;
    border-color: #701159;
    color: #FFDF5D;
    font-size: 1.2em;
    font-weight: 700;
}

form {
    display: block;
    border-style: none;
    --letterkleur: #2A4040;
    align-content: center;
    margin-bottom: 2em;
}

legend {
    padding-top: 1em;
}

label {
    --letterkleur: #2A4040;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    color: #9C2788;
    border-style: solid;
    list-style: none;
    border-color: #9C2788;
}

input {
    visibility: hidden;
    width: 0;
    position: absolute;
    overflow: hidden;
}

input:checked + label {
    background-color: #9C2788;
    color: white;
}

fieldset {
    border: none;
}

section span.verhalenlijst{
    display: grid;
    grid-gap: 1.25em;
}

article {
    border-style: solid;
    border-color: #FFDF5D;
    position: relative;
    background-color: #FFDF5D;
    align-content: center;
}

article ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: 1em;
    margin-bottom: 4em;
    position: absolute;
}

article ul li{
    background-color: #991782;
    margin-top: -3.0em;
    margin-bottom: 2.5em;
    padding-left: 0.1em;
    padding-right: 0.1em;
}

article ul li img {
    margin: 0em;
    width: 1.5em;
    align-content: center;
}

article p {
    color: var(--letterkleur);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
}

article footer p {
    font-size: 0.7em;
    margin-left: 70%;
    position: absolute;
    color: #2A4040;
    margin-top: -4.5em

}

article footer span {
    padding: 0em;
    position: absolute;
    margin: 0em;
    display: flex;
    margin-left: 60%;
    margin-top: -6em;
}

span button {
    padding: 0;
    border-color: #FFDF5D;
    width: 4em;
    height: 4em;
    margin-right: 0;
    margin-left: 1em;
    background-image: url(fav.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-position: center;
}

button#download {
    background-image: url("../img/download.svg");
}

button#fav {
    background-image: url("../img/fav.svg");
}

h4 {
    width: 10em;
    height: 4em;
    margin-top: 0.5em;
    margin-left: 1em;
    margin-bottom: 0.5em;
}

section #verhaalfoto {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    object-position: center;
}

body > footer {
    text-align: center;
    --letterkleur: #2A4040;
    margin-top: 4em;
    margin-bottom: 3em;
}

body > footer ul {
    list-style: none;
    padding: 1em;
    display: flex;
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 0;
    justify-content: space-between;
    color: #991782;
}

body > footer ul li {
    transition: 0.2s;
}

body > footer ul li:hover{
    transform: scale(1.2)

}

/* CSS styling van favorietenpagina.html */

body#favpagina{
     margin: 0;
    font-weight: 300;
    font-family: museo-sans, sans-serif;
    background-color: white;
    font-size: 1em;
    background-color: aqua;
}

section header span a {
    text-align: center;
    border-style: solid;
    border-color: #991782;
    background-color: rgba(0,0,0,0.0);
    border-color: #991782;
    padding: 0.5em;
    border-radius: 0.5em 0em 0em 0.5em;
    font-size: 1em;
    font-weight: 100;
    color: #991782;
    margin-bottom: 1em;

}

section #favorietstory {
    background-color: #991782;
    font-weight: 700;
    color: white;
    border-radius: 0em 0.5em 0.5em 0em;
    margin-left: -0.3em
}

body#favpagina section form {
    text-align: center;
    margin: 0em;
    margin-top: 3em;
    background-color: #991782;
    color: white;
    width: 85vw;
    padding-bottom: 1em;
}

body#favpagina section form legend {
    margin-bottom: 1em;
}

body#favpagina section form label {
    color: #FFDF5D ;
    border-style: hidden;
    text-decoration: underline;
    background-color: rgba(0,0,0,0)
}

body#favpagina section form input:checked + label {
    background-color: rgba(0,0,0,0);
    color: #701159;
}




/* media queries */
@media (min-width: 44em){
    body {
        background-color: blanchedalmond;
    }

    body section:first-of-type p:first-of-type {
        padding-top: 0em;
        padding-bottom: 1em;
        width: 75vw;
    }

    section #verhalenlijst {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1em;
    }

    body footer ul {
        margin-left: 2em;
        margin-right: 2em;
    }

}

@media (min-width: 65em){

    body {
        background-color: burlywood;
    }

    section header h2 {
        background-color: rgba(10, 10, 10, 0.0);
    }

    /*alles ongezichtbaar kan dat wel?*/
    section header a img{
        opacity: 0;
    }

    section #verhalenlijst {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1em;
    }

    body footer ul {
        margin-left: 3em;
        margin-right: 3em;
    }
}


