:root {
    --letterkleur: #2A4040;
}

body {
    margin: 0;
    font-weight: 300;
    font-family: museo-sans, sans-serif;
    background-color: white;
    font-size: 1em;
}

a {
    text-decoration: none;
}

body > header{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    border-bottom: solid;
    border-bottom-color: #707070;
}

h1 {
    display: block;
    margin-top: 0.2em;
}

nav ul {
    list-style: none;
    padding: 1em;
    display: flex;
    margin: 0;
    padding-bottom: 0;
    justify-content: space-between;
    --letterkleur: #2A4040;
}

nav ul li a svg {
    width: 3em;
}

a svg .cls-1 {
    transition: 0.2s;
}

a svg .cls-2{
    transition: 0.2s;
}

a:hover svg .cls-1 {
    background-color: #982582;
    fill: #991782;
    stroke: #701159;
}

a:hover svg .cls-2{
    fill: #FFDF5D;
    stroke: #FFDF5D;
}

a:active svg .cls-1 {
    background-color: #982582;
    fill: #991782;
    stroke: #701159;
    transform: translateY(30rem);
}

a:active svg .cls-2{
    fill: #FFDF5D;
    stroke: #FFDF5D;
}

body div {
    margin-top: -4em;
}

body img#hoofdfoto {
    display: none;
}

body section:first-of-type {
    margin-top: 7em;
}

body section:first-of-type p:first-of-type {
    color: var(--letterkleur);
    padding-top: 0;
    padding-bottom: 1em;
    width: 80vw;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 85vw;
    margin: 0 auto;
}

section header h2{
    background-color: #991782;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 0.9em;
    color: white;
    font-weight: 100;
    font-size: 1.15em;
    margin: 0;
    width: 85vw;
    text-transform: uppercase;
}

section header a img{
    width: 1.5em;
    margin-top: -2em;
    margin-left: 78vw;
    border-style: none;
    position: absolute;
}

section #kleinetekst {
    margin: 0;
    text-align: center;
    --letterkleur: #2A4040;
    font-weight: 700;
}

section > a {
    text-transform: uppercase;
    align-content: center;
    background-color: #FFDF5D;
    border-style: solid;
    border-color: #B5993B;
    text-align: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: #991782;
    font-size: 1.1em;
    font-weight: 700;
    margin-top: 1.25em;
    transition: 0.2s;
}

section > a:hover {
    background-color: #991782;
    border-color: #701159;
    color: #FFDF5D;
    font-size: 1.1em;
    font-weight: 700;
}

section > a:active {
    background-color: #991782;
    border-color: #701159;
    color: #FFDF5D;
    font-size: 1.2em;
    font-weight: 700;
}

body section a#link {
    border: none;
    background: none;
    text-transform: none;
    text-decoration: underline;
    font-weight: 100;
    padding: 0;
    margin-bottom: 1.25em;
    margin-top: 0.5em;
}

form {
    display: block;
    border-style: none;
    --letterkleur: #2A4040;
    align-content: center;
    margin-bottom: 2em;
}

legend {
    padding-top: 1em;
}

label {
    --letterkleur: #2A4040;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    color: #9C2788;
    border-style: solid;
    list-style: none;
    border-color: #9C2788;
}

input {
    visibility: hidden;
    width: 0;
    position: absolute;
    overflow: hidden;
}

input:checked + label {
    background-color: #9C2788;
    color: white;
}

section:nth-of-type(2) form button {
    text-transform: uppercase;
    background-color: #FFDF5D;
    border-style: solid;
    border-color: #B5993B;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: 1em;
    color: #991782;
    font-size: 1em;
    font-weight: 700;
    margin-top: 1em;
    transition: 0.2s;
}

section:nth-of-type(2) form button:hover {
    background-color: #991782;
    border-color: #701159;
    color: #FFDF5D;
    font-size: 1em;
    font-weight: 700;
}

section:nth-of-type(2) form button:active {
    background-color: #991782;
    border-color: #701159;
    color: #FFDF5D;
    font-size: 1.1em;
    font-weight: 700;
}

fieldset {
    border: none;
}

section span.verhalenlijst{
    margin-top: 1.25em;
    display: grid;
    grid-gap: 1.25em;
}

article {
    border-style: solid;
    border-color: #FFDF5D;
    position: relative;
    background-color: #FFDF5D;
    align-content: center;
}

article ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: 1em;
    margin-bottom: 4em;
    position: absolute;
}

article ul li{
    background-color: #991782;
    margin-top: -3.0em;
    margin-bottom: 2.5em;
    padding-left: 0.1em;
    padding-right: 0.1em;
}

article ul li img {
    margin: 0em;
    width: 1.5em;
    align-content: center;
}

article p {
    color: var(--letterkleur);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
}

article footer p {
    font-size: 0.7em;
    margin-left: 70%;
    position: absolute;
    color: #2A4040;
    margin-top: -4.5em

}

article footer span {
    padding: 0em;
    position: absolute;
    margin: 0em;
    display: flex;
    margin-left: 60%;
    margin-top: -6em;
}

span.verhalenknoppen button {
    padding: 0;
    border-color: rgba(0,0,0,0);
    width: 4em;
    height: 4em;
    margin-right: 0;
    margin-left: 1em;
    background-image: url(fav.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-position: center;
}

span.verhalenknoppen button:first-child {
    background-image: url("../img/download.svg");
}

span.verhalenknoppen button:last-child {
    background-image: url("../img/fav.svg");
}

h4 {
    width: 10em;
    height: 4em;
    margin-top: 0.5em;
    margin-left: 1em;
    margin-bottom: 0.5em;
}

section #verhaalfoto {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    object-position: center;
}

body > footer {
    text-align: center;
    --letterkleur: #2A4040;
    margin-top: 4em;
    margin-bottom: 3em;
}

body > footer ul {
    list-style: none;
    padding: 1em;
    display: flex;
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 0;
    justify-content: space-between;
    color: #991782;
}

body > footer ul li {
    transition: 0.2s;
}

body > footer ul li:hover{
    transform: scale(1.2)

}

/* CSS styling van favorietenpagina.html */

body#favpagina{
     margin: 0;
    font-weight: 300;
    font-family: museo-sans, sans-serif;
    background-color: white;
    font-size: 1em;
    background-color: white;
}

body#favpagina section header {
    align-content: center;
    display: flex;
    position: absolute;
}

body#favpagina section header > a {
    font-weight: 700;
    text-decoration: underline;
    margin-left: -em;
    margin-top: -2em;
}

section header span a {
    align-content: center;
    text-align: center;
    border-style: solid;
    border-color: #991782;
    background-color: rgba(0,0,0,0.0);
    border-color: #991782;
    padding: 0.5em;
    border-radius: 0.5em 0em 0em 0.5em;
    font-size: 1em;
    font-weight: 100;
    color: #991782;
    margin-bottom: 1em;

}

section #favorietstory {
    background-color: #991782;
    font-weight: 700;
    color: white;
    border-radius: 0em 0.5em 0.5em 0em;
    margin-left: -0.3em
}

body#favpagina section form {
    text-align: center;
    margin: 0em;
    margin-top: 3em;
    background-color: #991782;
    color: white;
    width: 85vw;
    padding-bottom: 1em;
}

body#favpagina section form legend {
    margin-bottom: 1em;
}

body#favpagina section form label {
    color: #FFDF5D ;
    border-style: hidden;
    text-decoration: underline;
    background-color: rgba(0,0,0,0)
}

body#favpagina section form input:checked + label {
    background-color: rgba(0,0,0,0);
    color: #701159;
}

/* CSS styling van eenverhaal.html */

body#eenverhaal section header ul{
    list-style: none;
    padding: 1em;
    display: flex;
    margin: 0;
    margin-top: -2em;
    padding-bottom: 0;
    justify-content: space-between;
    --letterkleur: #2A4040;
    width: 90vw;
}

body#eenverhaal section header ul li:first-child {
    margin-left: 1em;
    margin-top: 0.8em;
}

body#eenverhaal section header ul a img {
    margin: 0;
    margin-left: -1.4em;
    height: 1em;
    padding: 0;
    margin-top: 0.1em;

}

body#eenverhaal section header ul li:last-child {
    margin-top: 0.8em;
}

body#eenverhaal > img {
    background-image: url(../img/verhaalmobiel.png);
    width: 16em;
    height: 23em;
}


/* media queries */
@media (min-width: 44em){

    body#hoofdpage div{
        margin-top: -4em;
    }

    body section:first-of-type p:first-of-type {
        padding-top: 0em;
        padding-bottom: 1em;
        width: 75vw;
    }

    section .verhalenlijst {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1em;
    }

    body footer ul {
        margin-left: 2em;
        margin-right: 2em;
    }

    nav ul {
        margin-right: 2em;
        margin-left: 2em;
    }

    body#eenverhaal > img {
        background-image: url(../img/verhaaltablet.png);
        width: 30em;
        height: 30em;
    }

    body img#hoofdfoto {
        display: none;
    }
}

@media (min-width: 65em){

    /*alles ongezichtbaar kan dat wel?*/
    section header a img{
        opacity: 0;
    }

    nav ul {
        margin-right: 3em;
        margin-left: 3em;
    }

    body#eenverhaal > img {
        background-image: url(../img/verhaalweb.png);
        width: 55em;
        height: 30em;
    }

    body#hoofdpage div {
        margin-top: 9em;
        margin-left: 4em;
        width: 6em;
    }

    body#hoofdpage div ul {
        padding-left: 0;
    }

    body#hoofdpage div ul li{
        padding-left: 0.5em;
        list-style: none;
        padding-top: 1em;
    }

    body#hoofdpage div ul li:first-of-type {
        background-color: white;
        color: #9C2788;
        font-weight: 700;
        padding-bottom: 1em;
    }

    body#hoofdpage div ul li:last-of-type {
        background-color: #9C2788;
        padding-bottom: 13em;
        border-top-style: solid;
        border-top-color: #701159;
    }

    body#hoofdpage div ul li:last-of-type a {
        color: white;
    }

    body#hoofdpage section:first-of-type {
        background-color: white;
        width: 25vw;
        padding-left: 1em;
        padding-right: 1em;
        margin-left: 10em;
        margin-top: -20.8em;
        margin-bottom: 1.25em;
    }

    body#hoofdpage section:first-of-type p {
        width: 25vw;
    }

    body#hoofdpage section:first-of-type p:first-of-type {
        height: 5.5em;
    }

    body#hoofdpage section:first-of-type a:first-of-type {
        font-size: 1em;
    }

    body#hoofdpage section:first-of-type header h2 {
        background-color: rgba(0,0,0,0);
        color: #991782;
        width: 25vw;
        padding: 0;
        padding-top: 1em;
        text-align: center;
        font-weight: 700;
    }

    body#hoofdpage section:nth-of-type(2) {
        display: none;
    }

    body img#hoofdfoto {
        display: flex;
        position: absolute;
        z-index: -1;
        background-image: url(../img/homepageverhaalfoto.png);
        width: 100%;
        height: 20em;
        margin-top: -23em;
        background-repeat: no-repeat;
    }

    body section:nth-of-type(3) header h2 {
        background-color: rgba(0,0,0,0);
        color: #9C2788;
        padding-bottom: 0;
        margin-top: 1.25em;
        margin-bottom: 0;
        margin-left: -2em;
    }

    section span.verhalenlijst {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 1.25em;
        width: 87vw;
        margin-top: 1.25em;
        margin-bottom: 1.25em;
    }

    body footer ul {
        margin-left: 3em;
        margin-right: 3em;
    }

    /* css voor tweehoofdpage.html*/

    body#tweehoofdpage div {
        margin-top: 9em;
        margin-left: 4em;
        height: 21em;
        width: 6em;
        background-color: #9C2788;
    }

    body#tweehoofdpage div ul {
        padding-left: 0;
    }

    body#tweehoofdpage div ul li{
        padding-left: 0.5em;
        list-style: none;
        padding-top: 1em;
    }

    body#tweehoofdpage div ul li:first-of-type {
        font-weight: 300;
        padding-bottom: 1em;
    }

    body#tweehoofdpage div ul li:first-of-type a {
        color: white;
    }

    body#tweehoofdpage div ul li:last-of-type {
        font-weight: 700;
        background-color: white;
        color: #9C2788;
        padding-bottom: 1em;
        border-top-style: solid;
        border-top-color: #701159;
    }

    body#tweehoofdpage section:nth-of-type(2) {
        background-color: white;
        width: 25vw;
        padding-left: 1em;
        padding-right: 1em;
        margin-left: 10em;
        margin-top: -20.8em;
        height: 20em;
    }

    body#tweehoofdpage section:nth-of-type(2) a:first-of-type {
        font-size: 1em;
    }

    body#tweehoofdpage section:nth-of-type(2) header h2 {
        background-color: rgba(0,0,0,0);
        color: #991782;
        width: 25vw;
        padding: 0;
        padding-top: 1em;
        text-align: center;
        font-weight: 700;
    }

    body#tweehoofdpage section:nth-of-type(2) form fieldset {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    body#tweehoofdpage section:nth-of-type(2) form fieldset label {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    body#tweehoofdpage section:nth-of-type(1) {
        display: none;
    }

    body#tweehoofdpage section:nth-of-type(2) form button {
        margin: 0;
        margin-top: 1.25em;
    }
}
